{% extends "base.html" %}

{% block blog_content %}
  <div class="row">
    <div class="col-md-6">
      <h1>Hello, {{ current_user.username }}.</h1>
      <br>
      {% import 'bootstrap/wtf.html' as wtf %}
      {{ wtf.quick_form(form) }}
      <hr>
      {% for post in posts.items %}
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="{{ post.author.avatar_img }}" alt="avatar" width="64px" >
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ post.author.username }}</h4>
            <small class="text-muted">{{ post.timestamp }}</small>
            <p>{{ post.body }}</p>
          </div>
        </div>     
      {% endfor %}    
      <nav aria-label="Page navigation">
        <center>
          <ul class="pagination">
            <li class="{% if not posts.has_prev %}disabled{% endif %}">
              <a href="{{ url_for('index', page=posts.prev_num) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Prev</span>
              </a>
            </li>
            {% for i in posts.iter_pages(left_edge=2, left_current=1, right_current=2, right_edge=2) %}
              {% if i %}
                <li class="{% if i==posts.page %}active{% endif %}"><a href="{{ url_for('index', page=i) }}">{{ i }}</a></li>
              {% else %}
                <li class="disabled"><a href="#">...</a></li>
              {% endif %}
            {% endfor %}
              <li class="{% if not posts.has_next %}disabled{% endif %}">
                <a href="{{ url_for('index', page=posts.next_num) }}" aria-label="Next">
                  <span aria-hidden="true">&raquo; Next</span>
                </a>
              </li>
          </ul>
        </center>
      </nav>  
    </div>
    <div class="col-md-3 col-md-offset-2">
      <div class="thumbnail text-center">
        <br>
        <img src="{{ current_user.avatar_img }}" alt="avatar" width="200px">
        <div class="caption">
          <h3>{{ current_user.username }}</h3>
          <p>
            <a href="#" class="btn btn-primary" role="button">{{ n_followers }} Following</a> 
            <a href="#" class="btn btn-default" role="button">{{ n_followed }} Followers</a>
          </p>
        </div>
      </div>
    </div>
  </div>      
{% endblock %}


